body {
    margin-top: 75px;
    font-family: "Open Sans", Tahoma, Verdana, Segoe, sans-serif;
    font-size: 15px;
    line-height: 24px;
}

.post-content, .page-content {
    font-size: 15px;
    line-height: 24px;
}

.main-content {
    margin-bottom: 20px;
}

.fa-rss {
    background-color: #F4B83F;
    color: #fff;
}

footer {
    margin: 10px 0;
}
